<md-bottom-sheet ng-cloak>
  <div layout="row" layout-align="center center">
    <h4>NBA League Score Entry Help</h4>
  </div>
  <div>
    <br/><br/>
    <p>Welcome to NBA's new HTML5 league score entry system. This is part of a large project to remove any reliance on Flash Player from the Northumberland Leagues and Rankings.</p>
    <br/>
    <p>There are some small differences between this new version and the old version, so please continue to read if you are having any issues.</p>
    <p>The captain's email address is no longer filled in automatically - the email address should be entered each time a match is entered.</p>
    <p>Players are now chosen from a dropdown list rather than typed, so if you cannot see the player name you need to complete the match card, please email the <a href="mailto:results@northumberlandbadminton.org">League Secretary</a> with the details.</p>
    <p>To save time when entering the match scores, you should only type in the losing score in each set. The other score will be automatically filled in.</p>
    <p>As before, if a match was conceded, i.e. not played at all, tick the conceded box, AND enter 21-0 21-0 to the winning side. If a match was started and not finished (due to injury for example) DO NOT tick the conceded box, but type in the score as if the winning team won all of the points after the stoppage.</p>
    <br/>
    <p>Please report any bugs or issues with the system to the <a href="mailto:webmaster@northumberlandbadminton.org">webmaster</a>.</p>
  </div>
</md-bottom-sheet>
